.git
.gitignore
.env
.env.*
!.env.example

**/node_modules
**/coverage
**/dist
**/data
**/*.log
**/*.pcm

**/.DS_Store
**/*.pem
**/*.key
**/*.crt
**/*credentials*.json
**/application_default_credentials.json
**/service-account*.json
