.env
.env.*
!.env.example

node_modules
npm-debug.log*
*.log
*.pcm

data
coverage
dist

.DS_Store
.git
.gitignore

*.pem
*.key
*.crt
*credentials*.json
application_default_credentials.json
service-account*.json
